<body>
    <div class="chat-window">
        <h2>Group Discussion</h2>
        <div class="container">
            <div class="incomming-message" *ngFor="let n of numSequence(6)">
                <img src="assets/user avatar.png" alt="Friend Avatar">
                <small><a class="profile-name" href="/profile"><b>John Grisham</b>
                    (Associate)</a>Yesterday
                    10:30AM</small>
                <pre>{{message}}</pre>
            </div>
        </div>
    </div>
    <div class="message-input-container">
        <textarea type="text" class="message-input" placeholder="Type a message..."></textarea>
        <button class="send-button"><mat-icon>send</mat-icon></button>
    </div>
</body>