<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="scrolling-text">
  <marquee behavior="scroll" direction="left">
    Welcome to Cross-Level Knowledge Exchange: Where Everyone's Expertise Matters! Learn from Juniors, Share with
    Seniors, and Grow Together. Join Our Mentorship Programs, Participate in Group Discussions, and Explore Our Rich
    Knowledge Bank Today!
  </marquee>
</div>


  <nav class="navbar">
    <div class="navbar-left">
      <span class="portal-name"><a href="/">Cross Level Knowledge Exchange</a></span>
    </div>
    <div class="navbar-right">
      <!-- <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#services">Services</a>
          <a href="#contact">Contact</a> -->
          <input matInput type="search" placeholder="Search.." name="search">
          <button><i class="fa fa-search" ></i></button>
      <a><img
          src="assets\cognizantLogo.jpg"
          alt="avatar"></a>
    </div>
  </nav>

  <nav class="navbar">

    <ul class="nav-links">l
      <li class="nav-item active">
        <a class="nav-link" href="/groupDiscussion">Group Discussion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ ">Knowledge Sharing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Onboarding Prerequisites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Learing Resources</a>
      </li>

    </ul>

  </nav>

  <router-outlet></router-outlet>

</body>
