<body>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-6" >
            <h1>Users</h1>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <form class="search">
                        <input type="search" placeholder="search User" class="searchinput" />
                        <button type="button" class="searchbutton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="col-md-4">
                    <select name="Grade" id="Grade" class="form-control">
                        <option value="" disabled selected>Choose Grade</option>
                        <option value="PAT">PAT</option>
                        <option value="PA">PA</option>
                        <option value="Associate">Associate</option>
                        <option value="Sr Associate">Sr Associate</option>
                        <option value="Manager">Manager</option>
                        <option value="Sr Manager">Sr Manager</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="TechStack" id="TechStack" class="form-control">
                        <option value="" disabled selected>Choose TechStack</option>
                        <option value="Java-Fullstack">Fullstack</option>
                        <option value="Java">Java</option>
                        <option value="angular">angular</option>
                        <option value="React">React</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">

        <div *ngFor="let n of numSequence(20)" class="profile-card">
            <img src="assets/user avatar.png" alt="Profile Image" class="profile-image">
            <div class="profile-info">
                <a href="/profile">John Doe</a><br>
                <small>Software Engineer, Hyderabad</small><br>
                <b>1032</b><br>
                <a href="#  "><small>java,angular, .net</small></a>
            </div>
        </div>

    </div>

</body>