<body>
    <div class="container">
        <div class="profile-section">

            <div class="card" style="width: 18rem;">
                <img src="https://lh6.googleusercontent.com/-3R26hGFGgYo/AAAAAAAAAAI/AAAAAAAAR4s/3Yuo0SvwuJE/s0-c-k-no-ns/photo.jpg"
                    class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5>RaviKumar ceo</h5>
                    <p>Grade : Associate</p>
                    <p>Domain : <a href="#">Java fullStack</a></p>
                    <p>Experience : 7 years</p>
                    <button style="width: 100%;">Edit Profile</button>
                </div>
            </div>
        </div>
        <div class="projects-section">
            <section class="projects">
                <h2>Talent Repositories</h2>
                <div class="project-box">
                    <h5><a href="#">Project 1</a></h5>
                    <p>Description of Project 1...</p>
                </div>
                <div class="project-box">
                    <h5><a href="#">Project 2</a></h5>
                    <p>Description of Project 2...</p>
                </div>
                <div class="project-box">
                    <h5><a href="#">Project 3</a></h5>
                    <p>Description of Project 3...</p>
                </div>
                <div class="project-box">
                    <h5><a href="#">Project 4</a></h5>
                    <p>Description of Project 3...</p>
                </div>

               
            </section>
        </div>
    </div>
</body>




