<body>
    <div class="container">
        <div class="profile-section">

            <div class="profile" style="width: 18rem;">
                <img src="https://lh6.googleusercontent.com/-3R26hGFGgYo/AAAAAAAAAAI/AAAAAAAAR4s/3Yuo0SvwuJE/s0-c-k-no-ns/photo.jpg"
                    class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h4>Vivan Tej</h4>
                    <p>Grade : Associate</p>
                    <p>Domain : <a href="#">Java fullStack</a></p>
                    <p>Experience : 7 years</p>
                    <button style="width: 100%;">Edit Profile</button>
                </div>
            </div>
        </div>
        <div class="projects-section">
            <div class="projects">
                <h2>Talent Repositories</h2>
                <div class="project-box">
                    <h4><a href="#">Streams in java</a></h4>
                    <small>Description of Project 1...</small>
                </div>
                <div class="project-box">
                    <h4><a href="#">Spring boot error fixing</a></h4>
                    <small>Description of Project 2...</small>
                </div>
                <div class="project-box">
                    <h4><a href="#">Lambda Expression</a></h4>
                    <small>Description of Project 3...</small>
                </div>
                <div class="project-box">
                    <h4><a href="#">Junit test cases</a></h4>
                    <small>Description of Project 3...</small>
                </div>
            </div>
        </div>
    </div>
</body>







